<div class="home">
  <h1 class="text-dark">
    Albums
    <a href="/albums/add" class="btn btn-success ms-auto">Add albums</a>
  </h1>
  <div class="row">
    <% albums.map((album, i) => {%>
    <div class="col-sm-12 col-md-4 album">
      <a href="/albums/detail/<%= album._id %>"
        ><h3><%= album.artist %></h3>
        <img src="<%= album.cover %>" alt="album cover" />
      </a>

      <h4><%= album.title %></h4>
      <p>Genre: <span><%= album.genre %></span></p>
    </div>
    <% }) %>
  </div>
</div>